/*This defines how the background will look */
body{
    margin: 0;
    padding: 0;
    background: url(spacepic4.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
/*This tells the computer to place everything within the .loginbox brackets into a box */
.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 55px 17px;
}
/*This decides where the image will be placed on screen and how it will look */
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
/*This places the h1 tag into the center of the box */
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    
}
/*This places the p tags into the center of the box */
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
/*This places the input boxes into the center of the box*/
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
/*This defines how the password input box will look and react*/
.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
/*This defines how the submit button will look*/
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: red;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
/*This states the whenever the mouse hovers over the submit box, it will turn yellow*/
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
